<DIV id="keyupevent">
<h3> KEYUP EVENT</h3>
Enter Name:<input type="text" name='user'(keyup)="getValue1($event)"> <br><br>

Enter Email Id: <input type="text" name='user1'(keyup)="getValue2($event)"><br><br>

Enter Roll no: <input type="text" name='user2'(keyup)="getValue3($event)"><br><br>

Enter Address: <input type="text" name='user3'(keyup)="getValue4($event)"><br><br>
<hr>
<h3> EDUCATIONAL DETAILS</h3>
 College Name:<input type="text" name='user4'(keyup)="getValue5($event)"> <br><br>

 Class Name:   <input type="text" name='user'(keyup)="getValue1($event)"> <br><br>
 <hr>
 <h3> MARKS  </h3>
 <H3> FY:  <input type="text" name='user5'(keyup)="getValue6($event)"> <br></H3>

 <H3> SY:  <input type="text" name='user6'(keyup)="getValue7($event)"> <br></H3>

 <H3> TY:  <input type="text" name='user7'(keyup)="getValue8($event)"> <br></H3>
</DIV>